{% extends "agent/base.html" %}
{% block content %}

<h2 class="text-xl font-bold mb-4">
    Hi {{ request.user.username }}
</h2>

<div class="grid grid-cols-2 gap-4">

<div class="bg-white p-4 rounded-xl shadow text-center">
    <p class="text-gray-500 text-sm">Leads</p>
    <h2 class="text-2xl font-bold">{{ total_leads }}</h2>
</div>

<div class="bg-white p-4 rounded-xl shadow text-center">
    <p class="text-gray-500 text-sm">Visits</p>
    <h2 class="text-2xl font-bold">{{ today_visits }}</h2>
</div>

</div>

<!-- BIG ACTION BUTTON -->
<a href="{% url 'agent_leads' %}"
   class="block mt-6 bg-blue-600 text-white text-center py-3 rounded-xl font-bold">
   ➕ Add Lead
</a>

{% endblock %}